@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Planet N";
  src: url(Font/planetn.ttf);
}

@font-face {
  font-family: "Game Played";
  src: url(Font/GamePlayed.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Background Color */
  --primary-color: #fdfbfb;
  --secondary-color: #0a0a0a;

  /* Text Font & Color */
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Planet", sans-serif;
  --primary-text: #fcfcfc;
  --secondary-text: #0a0a0a;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--primary-font);
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
}

/* 1 Custom CSS */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

/* Navbar Start */

.header_wrapper .navbar {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: #070c11;
}

.header_wrapper .navbar-brand img {
  position: relative;
  left: 0.2em;
  width: 70%;
  height: auto;
  color: #0a0a0a;
}

.header_wrapper .navbar-toggler {
  position: relative;
  right: -0.4em;
  border: none;
}

.header_wrapper .navbar-toggler:focus {
  box-shadow: none;
}

.header_wrapper .nav-item {
  text-align: center;
  margin-top: 0.5em;
}

.header_wrapper .nav-item .nav-link {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-color);
  display: inline-block;
}

.header_wrapper .nav-item .nav-link::after {
  position: absolute;
  content: "";
  left: 0;
  width: 0;
  height: 0.15em;
  background: var(--primary-color);
  transition: 0.3s;
  bottom: 0;
}

.header_wrapper .nav-item .nav-link.active::after,
.header_wrapper .nav-item .nav-link:hover::after {
  width: 100%;
}

.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover {
  color: var(--primary-color);
}

#navbarNav ul li button {
  border: none;
  background: none;
}

.add-shadow {
  box-shadow: 0px 16px 8px rgba(38, 36, 36, 0.1);
}

/* Navbar End */

/* Banner Start */
.banner_wrapper {
  position: relative;
  display: inline-flex;
  min-width: 100%;
  min-height: 160px;
  background-color: #070c11;
  background-image: url(images3/BANNER_1.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  top: 2em;
}

.banner_wrapper .container {
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

/* Banner End */

/* Case Study Content Start */

.GCCS_content {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.GCCS_content .container1 {
  position: relative;
  display: block;
  max-width: 1716px;
  min-height: auto;
  margin: auto;
  padding: 20px 30px;
  top: .5rem;
}

.GCCS_content h1 {
  position: relative;
  top: 0.65em;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.5px;
  color: #0a0a0a;
}

.GCCS_content .paraupdate {
  position: relative;
  top: 1.3em !important;
}

h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #0a0a0a;
}

p {
  position: relative;
  top: 0.8em;
  width: auto;
  height: auto;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
  color: #0a0a0a;
}

.GCCS_content .content2 {
  position: relative;
  top: 1.84em;
}

.GCCS_content .content3 {
  position: relative;
  top: 3.28em;
}

.GCCS_content .content4 {
  position: relative;
  top: 4.75em;
}

.GCCS_content .content4 img {
  position: relative;
  width: 100%;
  height: auto;
  top: 0.7rem;
}

.GCCS_content .content5 {
  position: relative;
  top: 7.3em;
}

.GCCS_content .content5 .grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  top: 1.325rem;
  place-items: center;
  justify-items: center;
}

.GCCS_content .content5 img {
  position: relative;
  width: 100%;
  height: auto;
}

.GCCS_content .content6 {
  position: relative;
  top: 10.45em;
}

.GCCS_content .content7 {
  position: relative;
  top: 11.9em;
}

.GCCS_content .content8 {
  position: relative;
  top: 13.35em;
}

.GCCS_content .content8 img {
  position: relative;
  width: 100%;
  height: auto;
  top: 0.7em;
}

.GCCS_content .content9 {
  position: relative;
  top: 15.9em;
}

.GCCS_content .content9 img {
  position: relative;
  width: 100%;
  height: auto;
}

.wireframe_img .grid1 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  place-items: center;
  justify-items: center;
  top: 0.8rem;
}

.user_interface {
  position: relative;
  max-width: 1716px;
  margin: auto;
  top: 16.9em;
}

.user_interface .content10 h3 {
  padding: 0px 30px;
}

.ui_background {
  position: relative;
  width: 100%;
  height: auto;
  top: 0.8rem;
  background-color: rgba(5, 17, 29, 1);
  background-size: cover;
}

.user_interface .content10 .ui_background .grid2 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  place-items: center;
  justify-items: center;
  padding: 20px 30px;
}

.user_interface .content10 .ui_background img {
  position: relative;
  width: 100%;
  height: auto;
}

.GCCSbottom_content {
  position: relative;
  max-width: 1716px;
  margin: auto;
  padding: 0px 30px;
  top: 19.55em;
}

.content11 {
  position: relative;
}

.content11 p {
  position: relative;
  top: 1em !important;
}

.GCCSbottom_content .color_palette_grid3 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 33px;
  top: 1rem;
}

h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.6px;
  color: rgba(26, 5, 29, 1);
}

.square {
  width: 56px;
  height: 44px;
}

.colors1 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  top: 13px;
}

.content15 {
  position: relative;
  top: 3.1rem;
}

.grid4 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  top: 0.4em;
}

.content15 span {
  font-family: "Game Played", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.6px;
}

.content15 .heading1 span {
  font-size: 14px;
  color: #1d2029;
}

.content15 .heading2 span {
  font-size: 12px;
  color: #222222;
}

.content15 .heading3 span {
  font-size: 10px;
  color: #0a0a0a;
}

.content15 .grid4 p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.6px;
  color: rgba(22, 22, 22, 1);
  opacity: 0.7;
}

.content16 {
  position: relative;
  top: 5.35em;
}

.content16 p {
  position: relative;
  top: 1em !important;
}

/* --Previous Page Start-- */

.previous_page {
  position: relative;
  display: flex;
  justify-content: center;
}

.previous_page a {
  color: #0a0a0a;
}

.previous_page a span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.previous {
  position: relative;
  display: flex;
  justify-content: center;
}

.previous_position {
  position: relative;
  height: 3.45em;
  top: 6.75em;
}

.previous .previous_page .active_previous::after {
  position: absolute;
  content: "";
  left: 0;
  width: 0;
  height: 0.25em;
  background: var(--secondary-color);
  transition: 0.3s;
  bottom: 0;
}

.previous .previous_page .active_previous:hover::after {
  width: 105%;
}

.previous .previous_page .active_previous:hover {
  color: var(--secondary-color);
}

/* --Previous Page End-- */

/* --Contact Me Popup Start-- */

/* The Contact (background) */
.contact {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100000 !important; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Contact Content */
.contact-content {
  position: relative;
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #121212;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  position: absolute;
  color: white;
  font-size: 28px;
  font-weight: bold;
  right: 5px;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.contact-header {
  position: relative;
  width: 100%;
  height: auto;
  top: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: #fcfcfc;
}

.contact-body {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  top: 2.3em;
  justify-content: center;
  align-items: center;
}

.contact-body img {
  position: relative;
  width: 2rem;
  height: auto;
}

.contact-footer {
  position: relative;
  width: 15rem;
  height: auto;
  top: 5.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Planet N", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 18px;
  letter-spacing: 0.06em;
  color: #fcfcfc;
}

/* Skip Results Iframe
  EDIT ON
  /* SIBLI.contact-body out siblings around a hovered item */

.contact-body {
  visibility: hidden;
}
/* Prevents :hover from triggering in the gaps between items */

.contact-body > * {
  visibility: visible;
}
/* Brings the child items back in, even though the parent is `hidden` */

.contact-body > * {
  transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms;
}
/* Makes the fades smooth with a slight delay to prevent jumps as the mouse moves between items */

.contact-body:hover > * {
  opacity: 0.4;
  transform: scale(0.9);
}
/* Fade out all items when the parent is hovered */

.contact-body > *:hover {
  opacity: 1;
  transform: scale(1.3);
  transition-delay: 0ms, 0ms;
}
/* Fade in the currently hovered item */

.contact-body a:nth-of-type(odd) {
  position: relative;
  top: 1.3rem;
}

#hvr-grow-contact-me {
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

#hvr-grow-contact-me:hover,
#hvr-grow-contact-me:focus,
#hvr-grow-contact-me:active {
  transform: scale(1);
}

/* --Contact Me Popup End-- */

/* --TOP BUTTON START-- */

#myBtn1 {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 10px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  cursor: pointer; /* Add a mouse pointer on hover */
  background: transparent;
}

#myBtn1:hover,
#myBtn1:focus {
  background: transparent;
  transition: all 0.5s;
  transform: scale(1.5);
}

/* --TOP BUTTON END-- */

@media screen and (min-width: 768px) {
  /* Navbar Start */
  .header_wrapper .navbar-brand img {
    position: relative;
    left: 0.9em;
  }

  .header_wrapper .navbar-toggler {
    position: relative;
    right: 0.2em;
  }

  /* Banner Start */
  .banner_wrapper {
    position: relative;
    min-width: 100%;
    min-height: 300px;
  }

  /* Banner End */

  /* Case Study Content Start */

  .GCCS_content .container1 {
    position: relative;
    padding: 20px 50px;
    top: -0.4em;
  }

  .GCCS_content h1 {
    position: relative;
    font-size: 30px;
    line-height: 30px;
    top: 1em;
  }

  .GCCS_content .paraupdate {
    position: relative;
    top: 2.9em !important;
  }

  h3 {
    position: relative;
    top: 0.8em;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
  }

  p {
    position: relative;
    top: 2.3em;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.5px;
  }

  .GCCS_content .content2 {
    position: relative;
    top: 4.2em;
  }

  .GCCS_content .content3 {
    position: relative;
    top: 7.72em;
  }

  .GCCS_content .content4 {
    position: relative;
    top: 11.25em;
  }

  .GCCS_content .content4 img {
    position: relative;
    top: 2.58rem;
  }

  .GCCS_content .content5 {
    position: relative;
    top: 15.78em;
  }

  .GCCS_content .content5 .grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    top: 3.5rem;
  }

  .GCCS_content .content5 .grid .pic2 {
    position: relative;
    width: 300px;
    height: 270px;
  }

  .GCCS_content .content6 {
    position: relative;
    top: 21.21em;
  }

  .GCCS_content .content7 {
    position: relative;
    top: 24.73em;
  }

  .GCCS_content .content8 {
    position: relative;
    top: 28.25em;
  }

  .GCCS_content .content8 img {
    position: relative;
    top: 2.58em;
  }

  .GCCS_content .content9 {
    position: relative;
    top: 32.76em;
  }

  .wireframe_img .grid1 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    place-items: center;
    justify-items: center;
    top: 3.465rem;
  }

  .user_interface {
    position: relative;
    top: 36.5em;
  }

  .user_interface .content10 h3 {
    padding: 0px 50px;
  }

  .ui_background {
    position: relative;
    top: 2.58rem;
  }

  .user_interface .content10 .ui_background .grid2 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    place-items: center;
    justify-items: center;
    padding: 30px 50px;
  }

  .user_interface .content10 .ui_background .final3 {
    position: relative;
    left: 55%;
  }

  .GCCSbottom_content {
    position: relative;
    max-width: 1716px;
    margin: auto;
    padding: 0px 50px;
    top: 41.01em;
  }

  .content11 p {
    position: relative;
    top: 2.29em !important;
  }

  h6 {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.6px;
  }

  .square {
    position: relative;
    width: 76px;
    height: 64px;
  }

  .content15 .heading1 span {
    font-size: 18px;
    color: #1d2029;
  }

  .content15 .heading2 span {
    font-size: 16px;
    color: #222222;
  }

  .content15 .heading3 span {
    font-size: 14px;
    color: #0a0a0a;
  }

  .content15 .grid4 p {
    position: relative;
    font-size: 12px;
    line-height: 14px;
    top: 1.45rem;
  }

  .GCCSbottom_content .color_palette_grid3 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 33px;
    row-gap: 3.24rem;
    top: 3.46rem;
  }

  .colors1 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    top: 21.7px;
  }

  .content15 {
    position: relative;
    top: 6.7rem;
  }

  .grid4 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    top: 1.2em;
  }

  .content16 {
    position: relative;
    top: 10.28em;
  }

  .content16 p {
    position: relative;
    top: 2.29em !important;
  }

  .previous_position {
    position: relative;
    height: 3em;
    top: 13.85em;
  }

  .previous_page a span {
    font-size: 18px;
    line-height: 20px;
  }

  /* Contact Content */
  .contact-content {
    position: relative;
    height: 15rem;
  }

  .contact-header {
    position: relative;
    top: 1.2em;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  /* The Close Button */
  .close {
    position: absolute;
    color: white;
    font-size: 28px;
    font-weight: bold;
    right: 10px;
    top: -8px;
  }

  .contact-body {
    position: relative;
    top: 4.2em;
  }

  .contact-body img {
    position: relative;
    width: 2.5rem;
    height: auto;
  }

  .contact-body a:nth-of-type(odd) {
    position: relative;
    top: 1.5rem;
  }

  .contact-footer {
    position: relative;
    width: 18rem;
    height: auto;
    top: 9rem;
    font-size: 10px;
    line-height: 18px;
  }
}

@media screen and (min-width: 992px) {
  .header_wrapper .navbar-brand img {
    position: relative;
    left: 1.25em;
    width: 80%;
    height: auto;
    color: #0a0a0a;
  }

  .header_wrapper .nav-item {
    text-align: center;
    margin-top: 0.5em !important;
    margin: 0 16px 0 50px;
  }

  /* Banner Start */
  .banner_wrapper {
    position: relative;
    min-width: 100%;
    min-height: 430px;
  }

  /* Banner End */

}

@media screen and (min-width: 1024px) {
  /* Navbar Start */

  .header_wrapper .navbar-brand img {
    width: 4.125rem;
    height: 1.4375rem;
    left: 1.55em;
  }

  .header_wrapper .nav-item {
    position: relative;
    text-align: center;
    margin: 0 23px 0 40px;
  }

  .header_wrapper .nav-item .nav-link {
    font-size: 18px;
    font-weight: 600;
  }

  /* Navbar End */

  .banner_wrapper {
    position: relative;
    min-width: 100%;
    min-height: 450px;
  }

  .GCCS_content .container1 {
    position: relative;
    padding: 0px 100px;
    top: 2.75em;
  }

  .GCCS_content .content5 .grid .pic2 {
    position: relative;
    width: 394px;
    height: 336px;
  }

  .user_interface {
    position: relative;
    top: 40.9em;
  }

  .user_interface .content10 h3 {
    position: relative;
    padding: 0px 100px;
  }

  .ui_background {
    position: relative;
    width: 100%;
  }

  .user_interface .content10 .ui_background .grid2 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    place-items: center;
    justify-items: center;
    padding: 50px 100px;
  }

  .GCCSbottom_content {
    position: relative;
    padding: 0px 100px;
    top: 45.41em;
  }

  h6 {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.6px;
  }

  .content15 .heading1 span {
    font-size: 20px;
    color: #1d2029;
  }

  .content15 .heading2 span {
    font-size: 18px;
    color: #222222;
  }

  .content15 .heading3 span {
    font-size: 16px;
    color: #0a0a0a;
  }

  .grid4 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 0.2fr);
    top: 1.2em;
  }

  .previous_page a span {
    font-size: 20px;
    line-height: 34px;
  }

  .previous_position {
    position: relative;
    height: 5.3em;
    top: 14.85em;
  }

  /* Contact Content */
  .contact-content {
    position: relative;
    height: 25rem;
  }

  .contact-header {
    position: relative;
    top: 1em;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
  }

  /* The Close Button */
  .close {
    position: absolute;
    color: white;
    font-size: 40px;
    font-weight: bold;
    right: 8px;
    top: -1.7rem;
  }

  .contact-body  {
    position: relative;
    top: 7rem;
  }

  .contact-body img {
    position: relative;
    width: 4.25rem;
    height: auto;
  }

  .contact-body a:nth-of-type(odd) {
    position: relative;
    top: 2.5rem;
  }

  .contact-footer {
    position: relative;
    height: auto;
    top: 15rem;
    width: 40rem;
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (min-width: 1440px) {
  .header_wrapper .nav-item {
    position: relative;
    text-align: center;
    margin: 0 23px 0 53px;
  }

  /* Banner Start */
  .banner_wrapper {
    position: relative;
    min-width: 100%;
    min-height: 700px;
  }

  .GCCS_content .container1 {
    position: relative;
    padding: 0px 250px;
    top: 2.85em;
  }

  .GCCS_content h1 {
    position: relative;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 5px;
  }

  .GCCS_content .paraupdate {
    position: relative;
    top: 3.9em !important;
  }

  h3 {
    position: relative;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 2px;
  }

  p {
    position: relative;
    top: 2.85em;
    letter-spacing: 1px;
  }

  .GCCS_content .content2 {
    position: relative;
    top: 7.85em;
  }

  .GCCS_content .content3 {
    position: relative;
    top: 14.51em;
  }

  .GCCS_content .content4 {
    position: relative;
    top: 21.18em;
  }

  .GCCS_content .content4 img {
    position: relative;
    top: 3.2rem;
  }

  .GCCS_content .content5 {
    position: relative;
    top: 28.85em;
  }

  .GCCS_content .content5 .grid {
    position: relative;
    grid-gap: 30px;
    top: 4.1rem;
  }

  .GCCS_content .content5 .grid .pic1 {
    position: relative;
    width: 417.01px;
    height: 357px;
  }

  .GCCS_content .content5 .grid .pic2 {
    position: relative;
    width: 500px;
    height: 353.32px;
  }

  .GCCS_content .content6 {
    position: relative;
    top: 37.4em;
  }

  .GCCS_content .content7 {
    position: relative;
    top: 44.08em;
  }

  .GCCS_content .content8 {
    position: relative;
    top: 50.75em;
  }

  .GCCS_content .content8 img {
    position: relative;
    top: 3.21em;
  }

  .GCCS_content .content9 {
    position: relative;
    top: 58.45em;
  }

  .wireframe_img .grid1 {
    position: relative;
    top: 4.115rem;
  }

  .user_interface {
    position: relative;
    top: 69.9em;
  }

  .user_interface .content10 h3 {
    padding: 0px 250px;
  }

  .ui_background {
    position: relative;
    top: 3.2rem;
  }

  .user_interface .content10 .ui_background .grid2 {
    position: relative;
    padding: 70px 205px;
  }

  .user_interface .content10 .ui_background .final3 {
    position: relative;
    left: 53%;
  }

  .GCCSbottom_content {
    position: relative;
    padding: 0px 250px;
    top: 77.6em;
  }

  .content11 p {
    position: relative;
    top: 2.85em !important;
  }

  .GCCSbottom_content .color_palette_grid3 {
    position: relative;
    top: 4.1rem;
  }

  .square {
    position: relative;
    width: 86.08px;
    height: 74.39px;
  }

  .content15 {
    position: relative;
    top: 7.36rem;
  }

  .content15 .heading1 span {
    font-size: 32px;
    line-height: 58px;
    color: #1d2029;
  }

  .content15 .heading1 {
    position: relative;
    top: -.4rem;
  }

  .content15 .heading1 p {
    position: relative;
    top: .5rem;
  }

  .content15 .heading2 span {
    font-size: 21.0992px;
    line-height: 27px;
    color: #222222;
  }

  .content15 .heading2 {
    position: relative;
    top: .6rem;
  }

  .content15 .heading2 p {
    position: relative;
    top: 1.4rem;
  }

  .content15 .heading3 span {
    font-size: 16.3039px;
    line-height: 21px;
    color: #0a0a0a;
  }

  .content15 .heading3 {
    position: relative;
    top: .7rem;
    left: -2.85rem;
  }

  .content15 .heading3 p {
    position: relative;
    top: 1.6rem;
  }
  
  .grid4 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 0.24fr);
  }

  .content16 {
    position: relative;
    top: 12.15em;
  }

  .content16 p {
    position: relative;
    top: 2.85em!important;
  }

  .previous_page a span {
    font-size: 28px;
    line-height: 54px;
  }

  .previous_position {
    position: relative;
    height: 6.7em;
    top: 17.68em;
  }

  /* Contact Content */
  .contact-content {
    position: relative;
    height: 30rem;
  }

  .contact-header {
    position: relative;
    top: 0.82em;
    font-weight: 500;
    font-size: 48px;
    line-height: 52px;
  }

  /* The Close Button */
  .close {
    position: absolute;
    color: white;
    font-size: 50px;
    font-weight: bold;
    right: 8px;
    top: -2.2rem;
  }

  .contact-body {
    position: relative;
    top: 7.5rem;
  }

  .contact-body img {
    position: relative;
    width: 5.25rem;
    height: auto;
  }

  .contact-body a:nth-of-type(odd) {
    position: relative;
    top: 3rem;
  }

  .contact-footer {
    position: relative;
    height: auto;
    top: 16.9rem;
    width: 56.125rem;
    font-size: 32px;
    line-height: 40px;
  }

}

@media screen and (min-width: 1716px) {
  .header_wrapper .navbar-brand img {
    position: relative;
    left: -5.3em;
  }
  .header_wrapper .nav-item {
    position: relative;
    right: -8.7em;
  }
}
